﻿.draggable {
    width: 150px;
    height: 50px;
    padding: 0.5em;
    float: left;
    margin: 10px 10px 10px 0;
}

.droppable {
    width: 200px;
    height: 70px;
    padding: 0.5em;
    float: left;
    margin: 10px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.draggable1 {
    width: 340px;
    height: 130px;
    padding: 0.5em;
    float: left;
    margin: 2px 10px 10px 0;
}

.droppable1 {
    width: 350px;
    height: 150px;
    padding: 0.5em;
    float: left;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
