.btn-outline-sena {
    color: #fc7323;
    background-color: #343a40;
    border-color: #fc7323
}

.btn-outline-sena:hover {
    color: #fff;
    background-color: #fc7323;
    border-color: #fc7323
}

.btn-outline-sena.focus, .btn-outline-sena:focus {
    box-shadow: 0 0 0 rgba(89,181,72,.5)
}

.btn-outline-sena.disabled, .btn-outline-sena:disabled {
    color: #fc7323;
    background-color: transparent
}

.btn-outline-sena:not(:disabled):not(.disabled).active, .btn-outline-sena:not(:disabled):not(.disabled):active, .show > .btn-outline-sena.dropdown-toggle {
    color: #fff;
    background-color: #fc7323;
    border-color: #fc7323
}

    .btn-outline-sena:not(:disabled):not(.disabled).active:focus, .btn-outline-sena:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-sena.dropdown-toggle:focus {
        box-shadow: 0 0 0 rgba(89,181,72,.5)
    }


.btn-sena {
    color: #fff;
    background-color: #fc7323;
    border-color: #fc7323
}

.text-sena {
    color: #fc7323 !important;
}


.sizeImagen{
    width: 100%;
    height: 400px;
}

.color-verde-claro{
    background-color: rgb(89,181,72);
}

body {
    font-family: 'Titillium Web';
}

.footer-propio{
    /*background-color: black;*/
    position: absolute;
    bottom: 0;
    width: 100%;
    /*height: 40px;*/
    /*color: white;*/
}

/*.ancho-prueba{
    height: 550px;
}*/

/*body {
    padding-bottom: 56px;
}

.fixed-abajo{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}*/

.ancho{
    height: 470px !important;
}