.bordes {
    border-bottom: solid 1 black;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    /*margin: auto;*/
}

.letra {
    color: #59B548;
}

.letra2 {
    color: #FF7323;
    border-bottom: solid 2 black;
}

footer {
    background-color: #E9ECEF;
}